// bower:scss
// endbower

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* numbered buttons */
#status-buttons                 {
  a {
    display:inline-block;
    font-size:12px;
    margin-right:10px;
    text-align:center;
    text-transform:uppercase;
    min-width: 70px;

  }

  /* active buttons */
  a.active {
    span  {
      background:#00BC8C;
    }
  }

  a:hover {
    text-decoration:none;
  }

  span {
    color:#FFF;
    background:#080808;
    display:block;
    height:30px;
    margin:0 auto 10px;
    width:30px;
    border-radius:50%;
    line-height: 30px;

    md-icon {
       color: #FFF;
       font-size: 22px;
    }
  }

}

#household-form{
  position:relative;
  min-height:300px;
  overflow:hidden;
  padding:30px;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views{
  &.ng-enter,
  &.ng-leave{
    position:absolute;
    left:30px;
    right:30px;
    transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
  }

  /* enter animation */
  &.ng-enter{
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
  }

  /* leave animation */
  &.ng-leave{
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
  }
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}
